#main_container {
	background-color:#FFFFFF;
	overflow: hidden;
	display: block;
	padding: 0px;
	margin: 0px;
	margin-left: 10%;
	margin-right: 10%;

	/*Test*/
	min-height: 100%;
    height: auto !important;
    height: 100%;
}

html,body {
	background: #FFFFFF ; /* Colore e immagine sfondo */
	height:100%;
	margin:0px;
	padding:0px;
	
}

.footer {
  position: sticky;
  width:100%;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

td {
	vertical-align: middle !important;
}